@mixin flex-center ($direction, $horizontal) {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$horizontal};
    align-items: center;
}

@mixin margin ($top, $right, $left) {
    margin-top: #{$top};
    margin-right: #{$right};
    margin-left: #{$left};
}