$yellow: #FFFF00;
$yellow-light: #F8F184;
$blue-dark: #19587D;
$red: #B11313;
$black-light: #0D0E09;
$black-1: #000;
$black-3: rgba($black-1, 0.5);
$grey: #C4C4C4;
$grad-orange-opaque-2: linear-gradient(103deg, #665228, #9f682a);
$border-style: 3px solid hsla(0, 1%, 45%, 0.247);
$bgc_newsletter: linear-gradient(to top left, #0f2027, #203a43, #2c5364);
%bgg_Button {
    background: linear-gradient(123deg, rgba(237, 222, 191, 0.5) 0%, rgba(137, 0, 9, 0.5) 90%);
}

%cartfaddin {
    background: linear-gradient(123deg, rgba(237, 222, 191, 1) 2%, rgba(39, 68, 85, 0.685) 100%);
}

%bordur {
    border-left: $border-style;
    border-right: $border-style;
}

%textarea {
    font-family: "Space Grotesk", sans-serif;
    padding-top: 6px;
    width: 99%;
    height: 20px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    color: #f1f1f1;
}

%btn-groupe-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    button {
        width: 150px;
        height: 40px;
        border-image: linear-gradient(160deg, hsl(0, 0%, 60%), hsl(198, 80%, 28%)) 1;
        background-color: transparent;
        color: white;
        outline: none;
        margin: 5px;
    }
}

%confirmer {
    background: linear-gradient(to right, hsl(40, 40%, 84%), hsl(356, 60%, 40%));
    width: 200px;
    padding: 20px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
}

%quizBtn {
    background: linear-gradient(123deg, rgba(30, 37, 47, 1) 0%, rgba(180, 131, 70, 1) 65%);
    width: 280px;
    height: 60px;
    font-family: rajhdani;
    color: white;
    font-size: 22px;
    border: none;
    outline: none;
}

%yellow_filter {
    filter: brightness(0) saturate(100%) invert(91%) sepia(53%) saturate(1342%) hue-rotate(358deg) brightness(103%) contrast(109%);
}